

<div class="container">
<div class= "row mt-2">
    <div class="col-md-6">
        <h5 class= "text-center mt-5 text-uppercase">Modelo de interés compuesto:</h5>
    
        <br>
        <h2 class="text-center  mt-4">{{titulo}}</h2> 
    
        <h4 class="text-center  mt-4">
        <ng-katex [equation]= "equation"></ng-katex>
        </h4> 
        <br>
    </div>

    <div class="col-md-6 mt-4">
       <h4>
            En esta segunda columna debe ir una explicación del desarrollo de esta ecuacion
       </h4>
    </div>

</div>
</div>
